{% extends "dashboard.html" %}
{% load widget_tweaks %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="row vh-100">
        <div class="col-md-5 col-sm-6 col-lg-4 m-auto shadow-lg p-5 rounded-5">
            <h2 class='text-center p-2'>Admin Login Form</h2>
            <form method="POST" class="my-5">
                {% if error %}
                <div class="my-2">
                    <div class="row">
                        <div class="m-auto col">
                            <div class="text-center alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Email input -->
                {% csrf_token %}
                <div class="form-outline mb-4">

                    {% render_field form.name|attr:'required:true' type='text' class="form-control" %}
                    <label class="form-label">Inventory Name</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    {% render_field form.units|attr:'required:true' type="number" class="form-control" %}
                    <label class="form-label">Quantity</label>
                </div>





                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Create Inventory</button>
            </form>
        </div>
    </div>
</div>





{% endblock %}