{% extends "dashboard.html" %}
{% load widget_tweaks %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="my-5 row">


        <div class=" col-md-6">
            <div class="alert alert-success" role="alert">
                <h4 class="text-center"> Available Products in your Inventory</h4>
            </div>
            <canvas id="myChart" width="300" height="200"></canvas>
            <script>
                var ctx = document.getElementById('myChart');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for data in inventories %}'{{data.name}}',{% endfor %}],
                datasets: [{
                    label: '# of Votes',
                    data: [{% for data in inventories %} '{{ data.units }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255,1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderWidth: 1
                }]
                    },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
                });
            </script>


        </div>

        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                <h4 class="text-center"> Total selling Products </h4>
            </div>
            <canvas id="sellProducts" width="300" height="200"></canvas>
            <script>
                var ctx = document.getElementById('sellProducts');
                var sellProducts = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for product in saleProducts %} '{{product.inventory_id__name}}',{% endfor %}],
                datasets: [{
                    label: '# of Votes',
                    data: [{% for data in saleProducts %} '{{ data.total_product }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255,1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderWidth: 1
                }]
                    },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
                });
            </script>


        </div>
    </div>



    {% for product in product %}

    <li> {{ product.inventory_id.name }}</li>

    {% endfor %}
</div>



{% endblock %}