{% extends "dashboard.html" %}
{% load widget_tweaks %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="my-5 row">


        <div class=" col-md-6">
            <div class="alert alert-success" role="alert">
                <h4 class="text-center"> Available Products in your Inventory</h4>
            </div>
            <canvas id="myChart" width="300" height="200"></canvas>
            <script>
                var ctx = document.getElementById('myChart');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for data in inventories %}'{{data.name}}',{% endfor %}],
                datasets: [{
                    label: 'Numbers of Products',
                    data: [{% for data in inventories %} '{{ data.units }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255,1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderWidth: 1
                }]
                    },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
                });
            </script>


        </div>

        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                <h4 class="text-center"> Total selling Products </h4>
            </div>
            <canvas id="sellProducts" width="300" height="200"></canvas>
            <script>
                var ctx = document.getElementById('sellProducts');
                var sellProducts = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for product in saleProducts %} '{{product.inventory_id__name}}',{% endfor %}],
                datasets: [{
                    label: 'Numbers of Products',
                    data: [{% for data in saleProducts %} '{{ data.total_product }}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255,1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderWidth: 1
                }]
                    },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
                });
            </script>


        </div>
    </div>

    <div class="row">
        <div class="m-auto col-md-5">
            <a href="/transaction/purchase/">
                <button type="submit" class="text-white btn btn-info btn-block">New Incomming Stock</button>
            </a>

        </div>
        <div class="m-auto col-md-5">
            <a href="/transaction/salesitem/">
                <button type="submit" class="btn btn-primary btn-block">New Outgoing Stock</button>
            </a>

        </div>
    </div>


    <div class="p-5 my-5 rounded shadow row">
        <div class="col-md-6">
            <h3>Most Recent Sales</h3>
            <hr>

            {% for product in product %}

            <div class="row">
                <div class="col-md-8">
                    <p>Bill No: {{ product.sale_id }} </p>
                    <p>Purchase by {{ product.customer }}</p>
                    <p>{{ product.date }}</p>
                </div>
                <div class="col-md-4">
                    <p>Total Price: {{ product.totalPrice }} tk</p>
                    <p>Product Quantity: {{ product.quantity}}</p>
                    <p>Product Name: {{ product.inventory_id}}</p>
                    <a href="{% url 'transaction:bill-print' bill_id=product.sale_id %}">View Bill</a>
                </div>
            </div>
            <hr>
            {% endfor %}



        </div>


        <div class="col-md-6">
            <h3>Most Recent Purchases</h3>
            <hr>


            {% for product in purchaseProducts %}

            <div class="row">
                <div class="col-md-8">
                    <p>Bill No: {{ product.bill_id }} </p>
                    <p>Purchase by {{ product.supplier }}</p>
                    <p>{{ product.date }}</p>
                </div>
                <div class="col-md-4">
                    <p>Total Price: {{ product.totalPrice }} tk</p>
                    <p>Product Quantity: {{ product.quantity}}</p>
                    <p>Product Name: {{ product.inventoryName}}</p>
                    <a href="{% url 'transaction:purchase-bill' bill_id=product.bill_id %}">View Bill</a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}